div.fm-container {
    padding: 0.5rem;
    min-width: 13rem;
   &:hover {
    background-color: #D8D8D8;
    cursor: pointer;
   }

   .fm-title, .fm-volume, .fm-change {
    font-size: 0.85rem;
   }

   .fm-name {
    font-weight: bold;
   }

   .fm-volume {
    padding-top: 8px;
   }

   .fm-change {
    padding-top: 4px;
   }
}



.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    background-color: white;
    color: #0a0a0a;
}

.callout.primary {
    background-color: #d7ecfa;
    color: #0a0a0a;
}